
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Trang chủ
}
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-left" style="margin:40px">
            <p style="font: bold; font-size: 30px">ADMIN:</p>
            <h2><a><img style="width:300px;height:400px" src="/assets/client/Image/HUNG.jpg" alt=" " /></a></h2>
            <p style="font:bold;font-size:20px">
                Đỗ Mạnh Hùng <br />
                MSSV: 1811060273
            </p>
        </div>
    </div>
</div>
