@model List<OnlineShop.Models.CartItem>


<div class="cart box_1">
    <a href="/gio-hang">
        <h3>
            <div class="total">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span>@Model.Count</span> Sản phẩm
            </div>

        </h3>
    </a>
</div>