@model List<Model.EF.Menu>


<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav menu__list">
        
        @foreach (var item in Model)
        {
                <li class="active menu__item menu__item--current"><a class="menu__link" href="@item.Link" target="@item.Target">@item.Text <span class="sr-only">(current)</span></a></li>

        }

    </ul>
</div>

