
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    }
<style>
    #mapCanvas{
        width:100%;
        height:600px;
    }
</style>
@section jsFooter{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBe1VbB3GbLlTQbAYgUdsboXlnBfPumCoc&callback=initMap&libraries=&v=weekly"
            async></script>
    <script>
        function initMap() {
            const uluru = { lat: 12.226416, lng: 109.199871 };
            const map = new google.maps.Map(document.getElementById("mapCanvas"), {
                zoom: 18,
                center: uluru,
            });
            const contentString = 'HPK Shoes';

            const infowindow = new google.maps.InfoWindow({
                content: contentString,
            });
            const marker = new google.maps.Marker({
                position: uluru,
                map,
                title: "Địa chỉ",
            });
            marker.addListener("click", () => {
                infowindow.open({
                    anchor: marker,
                    map,
                    shouldFocus: false,
                });
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
    

}
<div class="container">
    <h3 style="color: #FDA30E; text-align: center; text-transform: uppercase; font-size: 48px;padding-top:50px">Contact</h3>
</div>
<div class="contact">
    <div class="container">
        <div class="contact-grids">
            <div class="col-md-4 contact-grid text-center animated wow slideInLeft" data-wow-delay=".5s">
                <div class="contact-grid1">
                    <i class="fas fa-map-marker" aria-hidden="true"></i>
                    <h4>Địa chỉ</h4>
                    <p>100C/T25 Trần Phú, Nha Trang <span>Khánh Hòa</span></p>
                </div>
            </div>
            <div class="col-md-4 contact-grid text-center animated wow slideInUp" data-wow-delay=".5s">
                <div class="contact-grid2">
                    <i class="fas fa-phone" aria-hidden="true"></i>
                    <h4>Điện thoại</h4>
                    <p>+84 823 466 061<span>+84 823 466 061</span></p>
                </div>
            </div>
            <div class="col-md-4 contact-grid text-center animated wow slideInRight" data-wow-delay=".5s">
                <div class="contact-grid3">
                    <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                    <h4>Email</h4>
                    <p><a href="mailto:info@example.com">domanhhungc4@gmail.com</a><span><a href="mailto:info@example.com">domanhhungc4@gmail.com</a></span></p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="map wow fadeInDown animated" data-wow-delay=".5s">
            <h3 class="tittle">View On Map</h3>
            <div class="map" id="mapCanvas"></div>
            @*<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d487.414985062297!2d109.1996951!3d12.226607!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1626085744770!5m2!1svi!2s" frameborder="0" style="border:0"></iframe>*@
        </div>
        <h3 class="tittle">Contact Form</h3>
        <form>
            <div class="contact-form2">
                <input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                <input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <textarea type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

