
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 style="color: #FDA30E; text-align: center; text-transform: uppercase; font-size: 48px;padding-top:50px">Giới thiệu</h3>
</div>
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-left" style="margin:40px">
            <h2><a><img style="width:300px;height:400px" src="/assets/client/Image/HUNG.jpg" alt=" " /></a></h2>
            <p style="font:bold;font-size:20px">
                Đỗ Mạnh Hùng <br/>
                MSSV: 1811060273
            </p>
        </div>
        <div class="col-md-3 footer-left" style="margin:40px">
            <h2><a ><img style="width: 300px; height: 400px" src="/assets/client/Image/Phat.png" alt=" " /></a></h2>
            <p style="font:bold;font-size:20px">
                Nguyễn Văn Phát <br />
                MSSV: 1811060564
            </p>
        </div>
        <div class="col-md-3 footer-left" style="margin:40px">
            <h2><a><img style="width: 300px; height: 400px" src="/assets/client/Image/KHANH.jpg" alt=" " /></a></h2>
            <p style="font:bold;font-size:20px">
                Võ Văn Khánh <br />
                MSSV: 1811062457
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>



